body {
    margin: 0; /* because browsers always add margin by default*/
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/*

Style our app according to the provided design!

green color -> #5f9341

*/


input {
    
}

button {
    
}
